html {
  color: white;
  background-color: black;
}

body {
  margin: 0;
}

header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
}

#miva {
  border: none;
  height: calc(100dvh - 80px);
  width: 100dvw;
}
